// $base-color: #44ce4b;
$base-color: #639000;
$base-highlight-color: dynamic(mix(#fff, $base-color, 20%));
$base-light-color: dynamic(mix(#fff, $base-color, 60%));
$base-dark-color: dynamic(mix(#000, $base-color, 20%));
$neutral-color: dynamic(#d0d0d0);
$neutral-light-color: dynamic(mix(#fff, $neutral-color, 80%));
$neutral-highlight-color: dynamic(mix(#fff, $neutral-color, 60%));
$neutral-medium-dark-color: dynamic(mix(#000, $neutral-color, 15.2%));
$neutral-dark-color: dynamic(mix(#000, $neutral-color, 30.4%));
$font-weight: dynamic(300);
$font-weight-bold: dynamic(400);
$font-family: dynamic('Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif);

// // text color
$color: dynamic(#404040);
// // lighter text color for use on light backgrounds
// $highlight-color: dynamic(#606060);
// light text color for use on dark backgrounds
$light-color: dynamic(#f0f0f0);
$enable-font-icons: dynamic(true);


$dark-bg: #000;
$dark-bg2: #121314;
$dark-bg3: #222326;
$dark-bg4: darken(#88898C, 15%);

$blue-bg: #e1e9ed;

$front-color: #adafb2;
$front-color2: #fff;
 
$highlight-color: $base-color;
$highlight-color2: lighten($highlight-color, 20%);
$highlight-color3: darken($highlight-color, 20%);
 
// $font-family: 'Montserrat', helvetica , arial , verdana , sans-serif;
// $font-size: 12px;
 
$body-background-color: $blue-bg;
// $color: $front-color;
$enable-font-smoothing: true;