$panel-header-font-size: dynamic(round($font-size * 1.2));
$panel-header-line-height: dynamic(20px);
$panel-header-padding: dynamic(11px 15px 12px);
$panel-header-font-weight: dynamic($font-weight-bold);
$panel-frame-border-radius: dynamic(0 0 0 0);
$panel-frame-border-width: dynamic(2px);
$panel-ignore-frame-padding: dynamic(true);

$panel-header-color: dynamic($light-color);

$panel-light-header-font-size: dynamic($panel-header-font-size);
$panel-light-header-color: dynamic($highlight-color);
$panel-light-header-background-color: dynamic(#fff);
$panel-light-border-color: dynamic($neutral-color);
$panel-light-tool-glyph-color: dynamic($neutral-dark-color);
$panel-header-icon-spacing: dynamic(8px);

$panel-header-glyph-opacity: dynamic(1);
$panel-body-border-color: dynamic($neutral-color);

$panel-header-background-color: #739e42;
