<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta charset="UTF-10">

    <link rel="shortcut icon" href="resources/images/logo_dikbud.png">

    <title>{{judul}} {{bosnya}}</title>

    <script type="text/javascript">
        var Ext = Ext || {}; // Ext namespace won't be defined yet...

        // This function is called by the Microloader after it has performed basic
        // device detection. The results are provided in the "tags" object. You can
        // use these tags here or even add custom tags. These can be used by platform
        // filters in your manifest or by platformConfig expressions in your app.
        //
        Ext.beforeLoad = function (tags) {
            var s = location.search,  // the query string (ex "?foo=1&bar")
                profile;

            // For testing look for "?classic" or "?modern" in the URL to override
            // device detection default.
            //
            if (s.match(/\bclassic\b/)) {
                profile = 'classic';
            }
            else if (s.match(/\bmodern\b/)) {
                profile = 'modern';
            }
            else {
                profile = 'classic';
                //profile = tags.desktop ? 'classic' : 'modern';
                //profile = tags.phone ? 'modern' : 'classic';
            }

            Ext.manifest = profile; // this name must match a build profile name

            // This function is called once the manifest is available but before
            // any data is pulled from it.
            //
            //return function (manifest) {
                // peek at / modify the manifest object
            //};
        };

    </script>
    <!--  
    <script src="http://openlayers.org/api/2.13.1/OpenLayers.js"></script>
    
     
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
    
    <script type="text/javascript" src="resources/js/leaflet.js"></script>
    -->
    
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
 
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>

    <!--<script type="text/javascript" src="getGeoJsonNew?id_level_wilayah={{id_level_wilayah}}&kode_wilayah={{kode_wilayah}}"></script>-->

    <!-- The line below must be kept intact for Sencha Cmd to build your application -->
    <script id="microloader" type="text/javascript" src="bootstrap.js"></script>
    <style type="text/css">
        .leaflet-popup-content-wrapper {
            border-radius: 0px;
        }

        .service-hijau .x-progress-bar, .legend-marketing {
            background-color: #90B962;
        }

        .service-kuning .x-progress-bar, .legend-marketing {
            background-color: #fdbf00;
        }

        .service-biru .x-progress-bar, .legend-marketing {
            background-color: #6aa5dc;
        }

        .service-merah .x-progress-bar, .legend-marketing {
            background-color: #ee929d;
        }
/*
        .tentang-container{
            border: 20px solid #000000;
        }*/

        .x-mask {
            background-image: none;
            background-color: rgba(204, 204, 204, 0.7);
            cursor: default;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
        }
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="ext/build/classic/theme-triton-orange/resources/theme-triton-orange-all-debug.css"> -->
    <link rel="stylesheet" type="text/css" href="resources/css/pace.orange.css">
    <script type="text/javascript" src="resources/js/pace.min.js"></script>
    <style type="text/css">
        #loading-mask{
            background-color:white;
            height:100%;
            position:absolute;
            left:0;
            top:0;
            width:100%;
            z-index:18996;
        }

        .loading-text{
            font-family: 'Arial';
            margin:auto;
            border:0px solid #ccc;
            text-align: center;
            width:30%;
            margin-top:200px;
            color: #434343
        }


        
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar:horizontal {
            height: 10px;
        }
         
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            border-radius: 0px;
        }
         
        ::-webkit-scrollbar-thumb {
            border-radius: 0px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            background: #aaaaaa;
        }

        .loader {
          border: 10px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid #90C258;
          border-right: 16px solid #f3f3f3;
          border-bottom: 16px solid #90B962;
          border-left: 16px solid #f3f3f3;
          width: 100%;
          height: 100%;
          margin:auto;
          /*margin-top:-140px;*/
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

    </style>
</head>
<body>
    <div id="loading-mask" style="background:#c4c4c4">
    <!-- <div id="loading-mask" style="background:url(resources/images/pattern.jpg);"> -->
        <div class="loading-text">
            <img src="resources/images/logo_dikbud.png" width="100px"><br>
            <h3>{{judul}} {{bosnya}}</h3>
            <!-- <div style="border:1px solid black;width:150px;height:150px;">
                <div class="loader">
                    <div class="loader">
                        <div class="loader">
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Memuat Aplikasi ... -->
            <br><br>
            <!-- <img src="resources/images/Preloader_4.gif" width="100px"> -->
        </div>
    </div>
</body>
</body>
</html>
