<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>{{judul}} {{bosnya}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link href="login_assets/log/css/bootstrap.min.cosmo.css" rel="stylesheet">
    <link rel="stylesheet" href="login_assets/login_tipe_1/css/style.css">
  </head>

  <body>
    <div class="cont">
      <div class="demo">
        <div style="font-size:30px;width:100%;color:white;margin:auto;text-align:center;">
          {{judul}}
          <div style="font-size:18px">{{bosnya}}</div>
        </div>
          <div class="login">
            <form action="prosesLogin" method="POST">
                <!-- <div class="login__check"></div> -->
                <!-- <div style="font-size:30px;width:100%;color:white;margin:auto;text-align:center;top:20%;position:absolute">
                  Profil Pendidikan
                  <div style="font-size:18px">Bosnya</div>
                </div> -->
                <!-- <div style="font-size:20px;width:100%;color:white;margin:auto;text-align:center;position:relative">Bosnya</div> -->
                <div class="login__form">
                  <div class="login__row">
                    <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                      <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                    </svg>
                    <input type="text" class="login__input name" id="username" name="username" placeholder="Username"/>
                  </div>
                  <div class="login__row">
                    <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                      <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                    </svg>
                    <input type="password" class="login__input pass" id="password" name="password" placeholder="Password"/>
                  </div>
                  <button type="submit" class="login__submit">Masuk</button>
                </div>
            </form>
          </div>
          <div class="login-panel" style="margin-top:25px;font-size:15px"></div>
      </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="login_assets/login_tipe_1/js/index.js"></script>
    <script src="login_assets/log/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    if(window.location.hash) {
        var hash = window.location.hash.substring(1);

        if(hash == 'password_salah'){
            var pesan = 'Password yang Anda masukkan salah!';
            
            $('.login-panel').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
                pesan + 
            '</div>');
            

        }else if(hash == 'username_tidak_terdaftar'){
            var pesan = 'Username yang Anda masukkan tidak terdaftar! Mohon gunakan username lain';

            $('.login-panel').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
                pesan + 
            '</div>');
            
        }

    }
    </script>
  </body>
</html>
