<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>{{judul}}</title>
  
  
      <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
      <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext'>
      <link href="login_assets/log/css/bootstrap.min.cosmo.css" rel="stylesheet">
      
      <link rel="stylesheet" href="login_assets/material2/css/style.css">

  
</head>

<body>
<hgroup>
  <h1>{{judul}}</h1>
  <h3>{{bosnya}}</h3>
</hgroup>
<form action="prosesLogin" method="POST" style="margin-top: 20px;">
  <div class="group">
    <input type="text" name="username" id="username"><span class="highlight"></span><span class="bar"></span>
    <label>Username</label>
  </div>
  <div class="group">
    <input type="password" name="password" id="password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="submit" class="button buttonBlue">Masuk
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <div style="clear:both"></div>
  <div class="login-panel"></div>          
</form>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="login_assets/material2/js/index.js"></script>
<script type="text/javascript">
if(window.location.hash) {
    var hash = window.location.hash.substring(1);

    if(hash == 'password_salah'){
        var pesan = 'Password yang Anda masukkan salah!';
        
        $('.login-panel').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
            pesan + 
        '</div>');
        

    }else if(hash == 'username_tidak_terdaftar'){
        var pesan = 'Username yang Anda masukkan tidak terdaftar! Mohon gunakan username lain';

        $('.login-panel').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
            pesan + 
        '</div>');
        
    }

}
</script>
</body>
</html>
