<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{judul}} {{bosnya}}</title>
      <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
      <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext'>
      <link href="login_assets/log/css/bootstrap.min.cosmo.css" rel="stylesheet">
      <link rel="stylesheet" href="login_assets/material_login/css/style.css">
  </head>
  <body>
    <div class="materialContainer">
      <form action="prosesLogin" method="POST" >
        <div class="box">
          <!--<div class="logo" style="background:url(resources/images/{{logo_filename}}) no-repeat;background-size:contain;">&nbsp;</div>-->
          <div class="title">{{judul}}</div>
          <h4>{{bosnya}}</h4>
          <div style="clear:both"></div>
            <div class="input">
               <!-- <label for="username">Username</label> -->
               <input type="text" name="username" id="username" placeHolder="Username">
               <span class="spin"></span>
            </div>
            <div class="input">
               <!-- <label for="password">Password</label> -->
               <input type="password" name="password" id="password" placeHolder="Password">
               <span class="spin"></span>
            </div>
            <div class="button login">
               <button type="submit"><span>Masuk</span> <i class="fa fa-check"></i></button>
            </div>
            <div style="clear:both"></div>
            <div class="login-panel"></div>
            <a href="{{URL_SSO}}#/tenant/{{TENANT_ID}}" class="login-sso">Login menggunakan SSO Setditjen Dikdasmen</a>
        </div>
      </form>
       <!-- <div class="overbox">
          <div class="material-button alt-2"><span class="shape"></span></div>
          <div class="title">REGISTER</div>
          <div class="input">
             <label for="regname">Username</label>
             <input type="text" name="regname" id="regname">
             <span class="spin"></span>
          </div>
          <div class="input">
             <label for="regpass">Password</label>
             <input type="password" name="regpass" id="regpass">
             <span class="spin"></span>
          </div>
          <div class="input">
             <label for="reregpass">Repeat Password</label>
             <input type="password" name="reregpass" id="reregpass">
             <span class="spin"></span>
          </div>
          <div class="button">
             <button><span>NEXT</span></button>
          </div>
       </div> -->
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="login_assets/material_login/js/index.js"></script>  
    <script src="login_assets/log/js/bootstrap.min.js"></script>  
    <script type="text/javascript">
    if(window.location.hash) {
        var hash = window.location.hash.substring(1);

        if(hash == 'password_salah'){
            var pesan = 'Password yang Anda masukkan salah!';
            
            $('.login-panel').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
                pesan + 
            '</div>');
            

        }else if(hash == 'username_tidak_terdaftar'){
            var pesan = 'Username yang Anda masukkan tidak terdaftar! Mohon gunakan username lain';

            $('.login-panel').append('<div class="alert alert-dismissable alert-danger peringatan">' + 
                pesan + 
            '</div>');
            
        }

    }
    </script>
  </body>
</html>
